nodered_home
[
    {
        "id": "875864e30ed7c872",
        "type": "tab",
        "label": "WEB_Other",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74af030cec3543fe",
        "type": "comment",
        "z": "875864e30ed7c872",
        "name": "home",
        "info": "",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "c78ea9db0db2b674",
        "type": "http response",
        "z": "875864e30ed7c872",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "13d2a947ee4a3b64",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "style",
        "field": "style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": ".maxWidth{\n    max-width:80%;\n    }\n.smallWidth{\n    max-width:40%;\n    margin-left: auto; \n    margin-right: 5%;\n    }\n\n.column{\n    float: center;\n    width: 50%;  \n    \n}\n      \n\n.row:after{\n    content: \"\";\n    display: table;\n    clear: both;\n}\n\n    * {\n    margin: 0;\n    padding: 0\n}\n\n\n.card {\n    width: 350px;\n    background-color: #efefef;\n    border: none;\n    cursor: pointer;\n    transition: all 0.5s\n}\n\n.image img {\n    transition: all 0.5s\n}\n\n.card:hover .image img {\n    transform: scale(1.5)\n}\n\n.rbtn {\n    height: 140px;\n    width: 140px;\n    border-radius: 50%\n}\n\n.name {\n    font-size: 22px;\n    font-weight: bold\n}\n\n.idd {\n    font-size: 14px;\n    font-weight: 600\n}\n\n.idd1 {\n    font-size: 12px\n}\n\n.number {\n    font-size: 22px;\n    font-weight: bold\n}\n\n.follow {\n    font-size: 12px;\n    font-weight: 500;\n    color: #444444\n}\n\n.btn1 {\n    height: 40px;\n    width: 150px;\n    border: none;\n    background-color: #000;\n    color: #aeaeae;\n    font-size: 15px\n}\n\n.text span {\n    font-size: 13px;\n    color: #545454;\n    font-weight: 500\n}\n\n.icons i {\n    font-size: 19px\n}\n\nhr .new1 {\n    border: 1px solid\n}\n\n.join {\n    font-size: 14px;\n    color: #a0a0a0;\n    font-weight: bold\n}\n\n.date {\n    background-color: #ccc\n}\n\n.collapse {\n    &:not(.show) {\n      display: none;\n    }\n  }\n  \n  .collapsing {\n    height: 0;\n    overflow: hidden;\n    @include transition($transition-collapse);\n  }\n\nvar{\n    $accordion-padding-y:                     1rem;\n$accordion-padding-x:                     1.25rem;\n$accordion-color:                         $body-color;\n$accordion-bg:                            $body-bg;\n$accordion-border-width:                  $border-width;\n$accordion-border-color:                  rgba($black, .125);\n$accordion-border-radius:                 $border-radius;\n$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);\n\n$accordion-body-padding-y:                $accordion-padding-y;\n$accordion-body-padding-x:                $accordion-padding-x;\n\n$accordion-button-padding-y:              $accordion-padding-y;\n$accordion-button-padding-x:              $accordion-padding-x;\n$accordion-button-color:                  $accordion-color;\n$accordion-button-bg:                     $accordion-bg;\n$accordion-transition:                    $btn-transition, border-radius .15s ease;\n$accordion-button-active-bg:              tint-color($component-active-bg, 90%);\n$accordion-button-active-color:           shade-color($primary, 10%);\n\n$accordion-button-focus-border-color:     $input-focus-border-color;\n$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;\n\n$accordion-icon-width:                    1.25rem;\n$accordion-icon-color:                    $accordion-color;\n$accordion-icon-active-color:             $accordion-button-active-color;\n$accordion-icon-transition:               transform .2s ease-in-out;\n$accordion-icon-transform:                rotate(-180deg);\n\n$accordion-button-icon:         url(\"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>\");\n$accordion-button-active-icon:  url(\"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>\");\n}\n\n\n.bg-modal {\n\tbackground-color: rgba(0, 0, 0, 0.7);\n\twidth: 100%;\n\theight: 100%;\n\tposition: absolute;\n\tz-index: 1;\n\ttop: 0;\n\tdisplay: none;\n\tjustify-content: center;\n\talign-items: center;\n}\n\n.modal-contents {\n\theight: 70%;\n\twidth: 60%;\n\tbackground-color: white;\n\ttext-align: center;\n\tpadding: 10px;\n\tposition: relative;\n\tz-index: 1;\n\n\n}\n\n.close {\n    position: absolute;\n    color: #444444;\n    top: 0px;\n    right: 14px;\n    font-size: 42px;\n    transform: rotate(45deg);\n    cursor: pointer;\n\n}}",
        "output": "str",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "048443e1eba5d2f5"
            ]
        ]
    },
    {
        "id": "f2eb44779499221d",
        "type": "http in",
        "z": "875864e30ed7c872",
        "name": "GET:home",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 340,
        "wires": [
            [
                "f852fd4f758bd58d"
            ]
        ]
    },
    {
        "id": "f852fd4f758bd58d",
        "type": "sqlite",
        "z": "875864e30ed7c872",
        "mydb": "c9fd59362167d331",
        "sqlquery": "fixed",
        "sql": "SELECT rowid, * FROM schedule ORDER BY time ASC;",
        "name": "DB",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "9485d781fb655909"
            ]
        ]
    },
    {
        "id": "9485d781fb655909",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "cat schedule HTML",
        "field": "schedule",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!--Cat schedule--> \n    <div class=\"column\">\n      <table class=\"table table-hover\">\n        <thead>\n          <tr>\n            <th scope=\"col\">Time</th>\n            <th scope=\"col\">Amount of food</th>\n            <th scope=\"col\">Description</th>\n          </tr>\n        </thead>\n        <tbody>\n          <!--display value of payload-->\n          \n        <tr class=\"table-active\">\n          {{#payload}}\n          <tr class=\"table-light\">\n            <td scope=\"row\">{{time}}</td>\n            <td scope=\"row\">{{amount}}</td>\n            <td scope=\"row\">{{des}}</td>\n          </tr>\n          {{/payload}}\n        </tr>\n        \n        </tbody>\n      </table>\n    </div>\n    <!--End of Cat schdule-->\n",
        "output": "str",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "13d2a947ee4a3b64"
            ]
        ]
    },
    {
        "id": "1ffbd8b30f3b58f9",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "html template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <title>Home</title>\n    \n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css\" integrity=\"sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css\" integrity=\"sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"style.css\">\n    <style>\n    {{{style}}}\n    </style>\n    <!--cat info paylode : name weight type des update-->\n    <!--cat schedule paylode : time amount des-->\n</head>\n\n<body>\n    <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM\" crossorigin=\"anonymous\"></script>\n\n    {{{nav}}}\n  \n\n    <div class=\"container-fluid maxWidth\">\n    <center><h2>Cat Information</h2></center>\n    <br>\n\n    <!--first row-->\n    <div class=\"row\">\n    <!--video section-->    \n    <div class=\"col-sm\">\n        <center><h4>Cat monitor</h4></center>\n        <!--<iframe width=\"100%\" height=\"315\" src=\"https://www.youtube.com/embed/5qap5aO4i9A\" title=\"YouTube video player\" frameborder=\"0\" allow=\"autoplay; encrypted-media clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>-->\n        <iframe width=\"100%\" height=\"70%\" src=\"https://www.youtube.com/embed/ol02MFfPQn4\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n        <br><br><center><a href=\"/monitor\"><button type=\"button\" class=\"btn btn-primary\">Go To Monitor Section</button></a></center>\n    </div>\n    <!--End of video section-->\n      \n    <!--Cat schedule--> \n    <div class=\"col-sm\">\n      <table class=\"table table-hover\">\n        <thead>\n          <tr>\n            <th scope=\"col\">Time</th>\n            <th scope=\"col\">Amount of food</th>\n            <th scope=\"col\">Description</th>\n          </tr>\n        </thead>\n        <tbody>\n          <!--display value of payload-->\n          \n        <tr class=\"table-active\">\n          {{#payload}}\n          <tr class=\"table-light\">\n            <td scope=\"row\">{{time}}</td>\n            <td scope=\"row\">{{amount}}</td>\n            <td scope=\"row\">{{des}}</td>\n          </tr>\n          {{/payload}}\n        </tr>\n        \n        </tbody>\n      </table>\n\n      <style>\n        .slider {\n          -webkit-appearance: none;\n          width: 100%;\n          height: 15px;\n          border-radius: 5px;  \n          background: #d3d3d3;\n          outline: none;\n          opacity: 0.7;\n          -webkit-transition: .2s;\n          transition: opacity .2s;\n        }\n\n        .slider::-webkit-slider-thumb {\n          -webkit-appearance: none;\n          appearance: none;\n          width: 25px;\n          height: 25px;\n          border-radius: 50%; \n          background: #04AA6D;\n          cursor: pointer;\n        }\n\n        .slider::-moz-range-thumb {\n          width: 25px;\n          height: 25px;\n          border-radius: 50%;\n          background: #04AA6D;\n          cursor: pointer;\n        }\n        </style>\n      <form method=\"POST\" action=\"/home\" name=\"ManualForm\"> <!--onsubmit=\"return validateForm()\" name=\"CatEditForm\"-->\n        <fieldset>\n      <div class=\"card border-secondary mb-3\" style=\"width: 100%;\">\n        <div class=\"card-body\">\n          <h4 align=\"center\">Manual  Feeding</h4><br>\n          <div align=\"center\">\n            <input class=\"slider\" id=\"amount\" name=\"amount\" type=\"range\" min=\"1\" max=\"15\" value=\"\" oninput=\"this.nextElementSibling.value = this.value\">\n            Manual Feedeing for <output>7</output> Gram\n          </div>\n         \n              \n          <hr>\n          <p class=\"mb-0\">This command only action once. The feeding schedule can be changed in <a href=\"/schedule\">\"Schedule\"</a> page</p>\n          <br><center><button type=\"submit\" class=\"btn btn-success\" style=\"width:30%\">FEED</button></center>\n        </div>\n      </div>\n      </fieldset>\n      </form>\n    </div>\n\n    </div>\n    <!--End of Cat schedule-->\n\n    </div>\n    <!--End of first row-->\n  </div>\n\n  {{{footer}}}\n\n \n</body>\n</html>\n",
        "output": "str",
        "x": 1100,
        "y": 340,
        "wires": [
            [
                "c78ea9db0db2b674"
            ]
        ]
    },
    {
        "id": "048443e1eba5d2f5",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "footer",
        "field": "footer",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!-- Footer -->\n    <br><br><br><br>\n    <footer class=\"page-footer font-small unique-color-dark\">\n        <!--blue strap-->\n    <div style=\"background-color: #75caeb;\"><br><br></div>\n  \n    <!-- Footer Links -->\n    <div class=\"container text-center text-md-left mt-5\">\n  \n      <!-- Grid row -->\n      <div class=\"row mt-3\">\n  \n        <!-- Grid column -->\n        <div class=\"col-md-3 col-lg-4 col-xl-3 mx-auto mb-4\">\n          <h6 class=\"text-uppercase font-weight-bold\">Background</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p>This website is part of \"Development of an automatic cat feeder controlled by web application\" project. This project presented by Darunsikkhalai School's student</p>\n  \n        </div>\n        <!-- Grid column -->\n  \n        <!-- Grid column -->\n        <div class=\"col-md-2 col-lg-2 col-xl-2 mx-auto mb-4\">\n  \n          <!-- Links -->\n          <h6 class=\"text-uppercase font-weight-bold\">Member</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p>Bhavida    Phussadisophon</p>\n          <p>Singha     Junchan</p>\n          <p>Naphat     Saereerak</p>\n        </div>\n        <!-- Grid column -->\n  \n        <!-- Grid column -->\n        <div class=\"col-md-3 col-lg-2 col-xl-2 mx-auto mb-4\">\n  \n          <!-- Links -->\n          <h6 class=\"text-uppercase font-weight-bold\">Useful links</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p><a href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css\">Bootswatch</a></p>\n          <p><a href=\"https://bootswatch.com/lumen/\">Lumen theam</a></p>\n        </div>\n        <!-- Grid column -->\n  \n        <!-- Grid column -->\n        <div class=\"col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4\">\n  \n          <!-- Links -->\n          <h6 class=\"text-uppercase font-weight-bold\">Contact</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p><i class=\"fas fa-envelope mr-3\"></i> bhavida.phussadisophon@mail.kmutt.sc.th</p>\n          <p><i class=\"fas fa-envelope mr-3\"></i> singha.junchan@mail.kmutt.sc.th</p>\n          <p><i class=\"fas fa-envelope mr-3\"></i> naphat.saereerak@mail.kmutt.sc.th</p>\n        </div>\n        <!-- Grid column -->\n        </div>\n      <!-- Grid row -->\n      </div>\n    <!-- Footer Links -->\n  \n    <!-- Copyright -->\n    <div class=\"footer-copyright text-center py-3\">© 2020 Copyright:\n      <a href=\"/home\"> CatFeeder</a>\n    </div>\n    <!-- Copyright -->\n  \n  </footer>\n  <!-- Footer -->",
        "output": "str",
        "x": 810,
        "y": 340,
        "wires": [
            [
                "57703df7e49457ab"
            ]
        ]
    },
    {
        "id": "57703df7e49457ab",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "nav",
        "field": "nav",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!--nav-->\n<nav class=\"navbar navbar-expand-lg navbar-dark bg-primary\">\n  <div class=\"container-fluid\">\n    <a class=\"navbar-brand\" href=\"/home\">Cat Feeder</a>\n    <button class=\"navbar-toggler\" type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\"#navbarColor01\" aria-controls=\"navbarColor01\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n      <span class=\"navbar-toggler-icon\"></span>\n    </button>\n\n    <div class=\"collapse navbar-collapse\" id=\"navbarColor01\">\n      <ul class=\"navbar-nav me-auto\">\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/schedule\">Schedule</a>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/monitor\">Monitor</a>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/catinfo\">Cat Information</a>\n        </li>\n      </ul>\n      <form class=\"d-flex\">\n        <input class=\"form-control me-sm-2\" type=\"text\" placeholder=\"Search\">\n        <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n      </form>\n    </div>\n    <button type=\"button\" id=\"button\" class=\"btn btn-secondary\" style=\"margin-left: 8px;\">?</button>\n  </div>\n</nav>\n<br><br>\n\n<!--Pop up info-->\n<div id=\"simpleModal\" class=\"bg-modal\">\n<div class=\"modal-contents\">\n<div class=\"close\">+</div>\n\n<center><p><h3> วิธีการใช้งาน </h3></p></center>\n  <div style=\"text-align: center;  border: 3px; position: absolute;  top: 30%;\">\n  <p>ผู้ใช้สามารถเข้าถึงหน้าเว็บเพจได้ 6 เว็บเพจ ได้แก่ หน้าหลัก, หน้าดูตารางให้อาหารแมว, หน้าติดตามมอนิเตอร์ และหน้าข้อมูลของแมวสัตว์เลี้ยง เรายังมีหน้าย่อยซึ่งเป็นส่วนเสริมในการแก้ไขข้อมูลแมวสัตว์เลี้ยง ซึ่งจะเข้าถึงได้จากหน้าดูข้อมูลแมวเท่านั้น </p><br><br>\n  <p>ผู้ใช้สามารถ interact เพื่อแก้ไขตารางการให้อาหาร เช่น การลบเวลาให้อาหาร การเพิ่มเวลาให้อาหารได้ในหน้าดูตารางให้อาหารแมว(/schedule)</p><br><br>\n  <p>ผู้ใช้สามารถ interact เพื่อแก้ไขข้อมูลของแมว เช่น น้ำหนัก ประเภท รวมทั้งคำนวนตารางอาหารได้ใหม่ ในหน้าแก้ไขข้อมูลของแมว(/catedit)</p><br><br>\n  </div>\n</div>\n</div>\n\n<!--pop up script-->\n<script>\ndocument.getElementById('button').addEventListener(\"click\", function() {\ndocument.querySelector('.bg-modal').style.display = \"flex\";});\n\ndocument.querySelector('.close').addEventListener(\"click\", function() {\ndocument.querySelector('.bg-modal').style.display = \"none\";});\n</script>",
        "output": "str",
        "x": 930,
        "y": 340,
        "wires": [
            [
                "1ffbd8b30f3b58f9"
            ]
        ]
    },
    {
        "id": "0416cfe0ad4d8376",
        "type": "http response",
        "z": "875864e30ed7c872",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 1280,
        "y": 420,
        "wires": []
    },
    {
        "id": "99cc045b949cdca7",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "style",
        "field": "style",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": ".maxWidth{\n    max-width:80%;\n    }\n.smallWidth{\n    max-width:40%;\n    margin-left: auto; \n    margin-right: 5%;\n    }\n\n.column{\n    float: center;\n    width: 50%;  \n    \n}\n      \n\n.row:after{\n    content: \"\";\n    display: table;\n    clear: both;\n}\n\n    * {\n    margin: 0;\n    padding: 0\n}\n\n\n.card {\n    width: 350px;\n    background-color: #efefef;\n    border: none;\n    cursor: pointer;\n    transition: all 0.5s\n}\n\n.image img {\n    transition: all 0.5s\n}\n\n.card:hover .image img {\n    transform: scale(1.5)\n}\n\n.rbtn {\n    height: 140px;\n    width: 140px;\n    border-radius: 50%\n}\n\n.name {\n    font-size: 22px;\n    font-weight: bold\n}\n\n.idd {\n    font-size: 14px;\n    font-weight: 600\n}\n\n.idd1 {\n    font-size: 12px\n}\n\n.number {\n    font-size: 22px;\n    font-weight: bold\n}\n\n.follow {\n    font-size: 12px;\n    font-weight: 500;\n    color: #444444\n}\n\n.btn1 {\n    height: 40px;\n    width: 150px;\n    border: none;\n    background-color: #000;\n    color: #aeaeae;\n    font-size: 15px\n}\n\n.text span {\n    font-size: 13px;\n    color: #545454;\n    font-weight: 500\n}\n\n.icons i {\n    font-size: 19px\n}\n\nhr .new1 {\n    border: 1px solid\n}\n\n.join {\n    font-size: 14px;\n    color: #a0a0a0;\n    font-weight: bold\n}\n\n.date {\n    background-color: #ccc\n}\n\n.collapse {\n    &:not(.show) {\n      display: none;\n    }\n  }\n  \n  .collapsing {\n    height: 0;\n    overflow: hidden;\n    @include transition($transition-collapse);\n  }\n\nvar{\n    $accordion-padding-y:                     1rem;\n$accordion-padding-x:                     1.25rem;\n$accordion-color:                         $body-color;\n$accordion-bg:                            $body-bg;\n$accordion-border-width:                  $border-width;\n$accordion-border-color:                  rgba($black, .125);\n$accordion-border-radius:                 $border-radius;\n$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width);\n\n$accordion-body-padding-y:                $accordion-padding-y;\n$accordion-body-padding-x:                $accordion-padding-x;\n\n$accordion-button-padding-y:              $accordion-padding-y;\n$accordion-button-padding-x:              $accordion-padding-x;\n$accordion-button-color:                  $accordion-color;\n$accordion-button-bg:                     $accordion-bg;\n$accordion-transition:                    $btn-transition, border-radius .15s ease;\n$accordion-button-active-bg:              tint-color($component-active-bg, 90%);\n$accordion-button-active-color:           shade-color($primary, 10%);\n\n$accordion-button-focus-border-color:     $input-focus-border-color;\n$accordion-button-focus-box-shadow:       $btn-focus-box-shadow;\n\n$accordion-icon-width:                    1.25rem;\n$accordion-icon-color:                    $accordion-color;\n$accordion-icon-active-color:             $accordion-button-active-color;\n$accordion-icon-transition:               transform .2s ease-in-out;\n$accordion-icon-transform:                rotate(-180deg);\n\n$accordion-button-icon:         url(\"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>\");\n$accordion-button-active-icon:  url(\"data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>\");\n}\n\n\n.bg-modal {\n\tbackground-color: rgba(0, 0, 0, 0.7);\n\twidth: 100%;\n\theight: 100%;\n\tposition: absolute;\n\tz-index: 1;\n\ttop: 0;\n\tdisplay: none;\n\tjustify-content: center;\n\talign-items: center;\n}\n\n.modal-contents {\n\theight: 70%;\n\twidth: 60%;\n\tbackground-color: white;\n\ttext-align: center;\n\tpadding: 10px;\n\tposition: relative;\n\tz-index: 1;\n\n\n}\n\n.close {\n    position: absolute;\n    color: #444444;\n    top: 0px;\n    right: 14px;\n    font-size: 42px;\n    transform: rotate(45deg);\n    cursor: pointer;\n\n}}",
        "output": "str",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "835442e58c1bdddb"
            ]
        ]
    },
    {
        "id": "97fd55c88dab388a",
        "type": "http in",
        "z": "875864e30ed7c872",
        "name": "GET:monitor",
        "url": "/monitor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "99cc045b949cdca7"
            ]
        ]
    },
    {
        "id": "7464e0a5295be584",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "html template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <title>Cat Monitor</title>\n    \n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css\" integrity=\"sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css\" integrity=\"sha384-GzaBcW6yPIfhF+6VpKMjxbTx6tvR/yRd/yJub90CqoIn2Tz4rRXlSpTFYMKHCifX\" crossorigin=\"anonymous\">\n    <link rel=\"stylesheet\" href=\"style.css\">\n    <style>\n    {{{style}}}\n    </style>\n    <!--cat info paylode : name weight type des update-->\n    <!--cat schedule paylode : time amount des-->\n</head>\n\n<body>\n    <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM\" crossorigin=\"anonymous\"></script>\n\n    {{{nav}}}\n    \n\n    <div class=\"container-fluid maxWidth\">\n    <center><h2>Cat Monitor</h2></center>\n    <br>\n\n    <!--first row-->\n    <div class=\"row\">\n    \n    <iframe width=\"560\" height=\"600\" src=\"https://www.youtube.com/embed/ol02MFfPQn4\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n    </div>\n    <!--End of first row-->\n  </div>\n\n  {{{footer}}}\n\n \n</body>\n</html>\n",
        "output": "str",
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "0416cfe0ad4d8376"
            ]
        ]
    },
    {
        "id": "835442e58c1bdddb",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "footer",
        "field": "footer",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!-- Footer -->\n    <br><br><br><br>\n    <footer class=\"page-footer font-small unique-color-dark\">\n        <!--blue strap-->\n    <div style=\"background-color: #75caeb;\"><br><br></div>\n  \n    <!-- Footer Links -->\n    <div class=\"container text-center text-md-left mt-5\">\n  \n      <!-- Grid row -->\n      <div class=\"row mt-3\">\n  \n        <!-- Grid column -->\n        <div class=\"col-md-3 col-lg-4 col-xl-3 mx-auto mb-4\">\n          <h6 class=\"text-uppercase font-weight-bold\">Background</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p>This website is part of \"Development of an automatic cat feeder controlled by web application\" project. This project presented by Darunsikkhalai School's student</p>\n  \n        </div>\n        <!-- Grid column -->\n  \n        <!-- Grid column -->\n        <div class=\"col-md-2 col-lg-2 col-xl-2 mx-auto mb-4\">\n  \n          <!-- Links -->\n          <h6 class=\"text-uppercase font-weight-bold\">Member</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p>Bhavida    Phussadisophon</p>\n          <p>Singha     Junchan</p>\n          <p>Naphat     Saereerak</p>\n        </div>\n        <!-- Grid column -->\n  \n        <!-- Grid column -->\n        <div class=\"col-md-3 col-lg-2 col-xl-2 mx-auto mb-4\">\n  \n          <!-- Links -->\n          <h6 class=\"text-uppercase font-weight-bold\">Useful links</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p><a href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lumen/bootstrap.min.css\">Bootswatch</a></p>\n          <p><a href=\"https://bootswatch.com/lumen/\">Lumen theam</a></p>\n        </div>\n        <!-- Grid column -->\n  \n        <!-- Grid column -->\n        <div class=\"col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4\">\n  \n          <!-- Links -->\n          <h6 class=\"text-uppercase font-weight-bold\">Contact</h6>\n          <hr class=\"deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto\" style=\"width: 60px;\">\n          <p><i class=\"fas fa-envelope mr-3\"></i> bhavida.phussadisophon@mail.kmutt.sc.th</p>\n          <p><i class=\"fas fa-envelope mr-3\"></i> singha.junchan@mail.kmutt.sc.th</p>\n          <p><i class=\"fas fa-envelope mr-3\"></i> naphat.saereerak@mail.kmutt.sc.th</p>\n        </div>\n        <!-- Grid column -->\n        </div>\n      <!-- Grid row -->\n      </div>\n    <!-- Footer Links -->\n  \n    <!-- Copyright -->\n    <div class=\"footer-copyright text-center py-3\">© 2020 Copyright:\n      <a href=\"/home\"> CatFeeder</a>\n    </div>\n    <!-- Copyright -->\n  \n  </footer>\n  <!-- Footer -->",
        "output": "str",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "a8dadd1460306be2"
            ]
        ]
    },
    {
        "id": "a8dadd1460306be2",
        "type": "template",
        "z": "875864e30ed7c872",
        "name": "nav",
        "field": "nav",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!--nav-->\n<nav class=\"navbar navbar-expand-lg navbar-dark bg-primary\">\n  <div class=\"container-fluid\">\n    <a class=\"navbar-brand\" href=\"/home\">Cat Feeder</a>\n    <button class=\"navbar-toggler\" type=\"button\" data-bs-toggle=\"collapse\" data-bs-target=\"#navbarColor01\" aria-controls=\"navbarColor01\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n      <span class=\"navbar-toggler-icon\"></span>\n    </button>\n\n    <div class=\"collapse navbar-collapse\" id=\"navbarColor01\">\n      <ul class=\"navbar-nav me-auto\">\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/schedule\">Schedule</a>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/monitor\">Monitor</a>\n        <li class=\"nav-item\">\n          <a class=\"nav-link\" href=\"/catinfo\">Cat Information</a>\n        </li>\n      </ul>\n      <form class=\"d-flex\">\n        <input class=\"form-control me-sm-2\" type=\"text\" placeholder=\"Search\">\n        <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n      </form>\n    </div>\n    <button type=\"button\" id=\"button\" class=\"btn btn-secondary\" style=\"margin-left: 8px;\">?</button>\n  </div>\n</nav>\n<br><br>\n\n<!--Pop up info-->\n<div id=\"simpleModal\" class=\"bg-modal\">\n<div class=\"modal-contents\">\n<div class=\"close\">+</div>\n\n<center><p><h3> วิธีการใช้งาน </h3></p></center>\n  <div style=\"text-align: center;  border: 3px; position: absolute;  top: 30%;\">\n  <p>ผู้ใช้สามารถเข้าถึงหน้าเว็บเพจได้ 6 เว็บเพจ ได้แก่ หน้าหลัก, หน้าดูตารางให้อาหารแมว, หน้าติดตามมอนิเตอร์ และหน้าข้อมูลของแมวสัตว์เลี้ยง เรายังมีหน้าย่อยซึ่งเป็นส่วนเสริมในการแก้ไขข้อมูลแมวสัตว์เลี้ยง ซึ่งจะเข้าถึงได้จากหน้าดูข้อมูลแมวเท่านั้น </p><br><br>\n  <p>ผู้ใช้สามารถ interact เพื่อแก้ไขตารางการให้อาหาร เช่น การลบเวลาให้อาหาร การเพิ่มเวลาให้อาหารได้ในหน้าดูตารางให้อาหารแมว(/schedule)</p><br><br>\n  <p>ผู้ใช้สามารถ interact เพื่อแก้ไขข้อมูลของแมว เช่น น้ำหนัก ประเภท รวมทั้งคำนวนตารางอาหารได้ใหม่ ในหน้าแก้ไขข้อมูลของแมว(/catedit)</p><br><br>\n  </div>\n</div>\n</div>\n\n<!--pop up script-->\n<script>\ndocument.getElementById('button').addEventListener(\"click\", function() {\ndocument.querySelector('.bg-modal').style.display = \"flex\";});\n\ndocument.querySelector('.close').addEventListener(\"click\", function() {\ndocument.querySelector('.bg-modal').style.display = \"none\";});\n</script>",
        "output": "str",
        "x": 930,
        "y": 420,
        "wires": [
            [
                "7464e0a5295be584"
            ]
        ]
    },
    {
        "id": "adbf0d6e9ea86211",
        "type": "mqtt out",
        "z": "875864e30ed7c872",
        "name": "",
        "topic": "catfeeder_command",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7cf2ed1e5a6a59be",
        "x": 940,
        "y": 780,
        "wires": []
    },
    {
        "id": "55c0fb3bada3edc5",
        "type": "http in",
        "z": "875864e30ed7c872",
        "name": "POST:home",
        "url": "/home",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "f852fd4f758bd58d",
                "464f669a1155734c"
            ]
        ]
    },
    {
        "id": "464f669a1155734c",
        "type": "function",
        "z": "875864e30ed7c872",
        "name": "timestamp",
        "func": "var months = [\"Jan\", \"Feb\", \"Mar\", \"Apr\", \"May\", \"Jun\", \"Jul\", \"Aug\", \"Sep\", \"Oct\", \"Nov\", \"Dec\"];\nvar days = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\nvar d = new Date();\nvar day = days[d.getDay()];\nvar hr = d.getHours()+7;\nvar min = d.getMinutes();\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nvar date = d.getDate();\nvar month = d.getMonth()+1;\nvar year = d.getFullYear();\n\nvar t = hr + \":\" + min;\n\nmsg.time= t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 680,
        "wires": [
            [
                "4eeb5fea3affd34a"
            ]
        ]
    },
    {
        "id": "3a36777850fba4f7",
        "type": "sqlite",
        "z": "875864e30ed7c872",
        "mydb": "c9fd59362167d331",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM catinfo;",
        "name": "SELECT",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "0eac3442e19b4130"
            ]
        ]
    },
    {
        "id": "0eac3442e19b4130",
        "type": "function",
        "z": "875864e30ed7c872",
        "name": "",
        "func": "msg.amount = parseFloat(msg.amount)/parseFloat(msg.payload[0].CPG);\nmsg.amount = msg.amount.toFixed(2);\nmsg.cmd = msg.time + ','+ parseFloat(msg.amount);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "2d133415353137e0"
            ]
        ]
    },
    {
        "id": "2d133415353137e0",
        "type": "change",
        "z": "875864e30ed7c872",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "time",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "amount",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "des",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "status",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 680,
        "wires": [
            [
                "0c88efcc61c9c81f"
            ]
        ]
    },
    {
        "id": "0c88efcc61c9c81f",
        "type": "function",
        "z": "875864e30ed7c872",
        "name": "",
        "func": "msg.payload=msg.cmd;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 780,
        "wires": [
            [
                "debea21056b2c773"
            ]
        ]
    },
    {
        "id": "debea21056b2c773",
        "type": "change",
        "z": "875864e30ed7c872",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "cmd",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 780,
        "wires": [
            [
                "adbf0d6e9ea86211",
                "8445c085d10d2fd2"
            ]
        ]
    },
    {
        "id": "4eeb5fea3affd34a",
        "type": "change",
        "z": "875864e30ed7c872",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "amount",
                "pt": "msg",
                "to": "payload.amount",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 680,
        "wires": [
            [
                "3a36777850fba4f7"
            ]
        ]
    },
    {
        "id": "8445c085d10d2fd2",
        "type": "debug",
        "z": "875864e30ed7c872",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 840,
        "wires": []
    },
    {
        "id": "c9fd59362167d331",
        "type": "sqlitedb",
        "db": "/home/CatFeeder/database/demo.db",
        "mode": "RWC"
    },
    {
        "id": "7cf2ed1e5a6a59be",
        "type": "mqtt-broker",
        "name": "CatFeeder",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]