nodered_mqtt
[
    {
        "id": "d471602836679556",
        "type": "tab",
        "label": "MQTT_timer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "72fe87e0f3fb9f95",
        "type": "mqtt out",
        "z": "d471602836679556",
        "name": "",
        "topic": "catfeeder_command",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7cf2ed1e5a6a59be",
        "x": 940,
        "y": 500,
        "wires": []
    },
    {
        "id": "5a8a2a0be3a0e386",
        "type": "inject",
        "z": "d471602836679556",
        "name": "testing inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "YO YO WORLD!!!",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "9c5799b950457d3d"
            ]
        ]
    },
    {
        "id": "1a56eded7a60ef6d",
        "type": "inject",
        "z": "d471602836679556",
        "name": "1-min inject",
        "props": [
            {
                "p": "time",
                "v": "12:00",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "ad8e9d52757ddd3e"
            ]
        ]
    },
    {
        "id": "19ab4ed121632913",
        "type": "function",
        "z": "d471602836679556",
        "name": "",
        "func": "for (let i = 0; i < msg.payload.length; i++) {\n    const el = msg.payload[i];\n    const amount = msg.payload[i].amount;\n    const entries = Object.entries(el).map(([topic, payload]) => ({ topic, payload, amount }));\n    if(msg.timestamp==msg.payload[i].time)\n        node.send(msg.payload[i]);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 340,
        "wires": [
            [
                "5b2d28ba133c832d"
            ]
        ]
    },
    {
        "id": "ab55aa286822c59b",
        "type": "sqlite",
        "z": "d471602836679556",
        "mydb": "c9fd59362167d331",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM schedule;",
        "name": "SELECT",
        "x": 620,
        "y": 340,
        "wires": [
            [
                "19ab4ed121632913"
            ]
        ]
    },
    {
        "id": "ad8e9d52757ddd3e",
        "type": "function",
        "z": "d471602836679556",
        "name": "timestamp",
        "func": "var d = new Date();\nvar hr = d.getHours()+7;\nvar min = d.getMinutes();\nif (min < 10) {\n    min = \"0\" + min;\n}\n\nvar t = hr+\":\"+min;\n\nmsg.timestamp= t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "ab55aa286822c59b"
            ]
        ]
    },
    {
        "id": "9c5799b950457d3d",
        "type": "function",
        "z": "d471602836679556",
        "name": "timestamp",
        "func": "var t = \"12\"+\":\"+\"00\";\n\nmsg.timestamp= t;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 400,
        "wires": [
            [
                "ab55aa286822c59b"
            ]
        ]
    },
    {
        "id": "5b2d28ba133c832d",
        "type": "function",
        "z": "d471602836679556",
        "name": "",
        "func": "msg.payload = msg.time + ','+ parseFloat(msg.amount);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "5dac595be92ca6a3"
            ]
        ]
    },
    {
        "id": "5dac595be92ca6a3",
        "type": "change",
        "z": "d471602836679556",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "time",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "amount",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "des",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 500,
        "wires": [
            [
                "72fe87e0f3fb9f95",
                "6ab5057d8fc4585f"
            ]
        ]
    },
    {
        "id": "c56991c34a24779c",
        "type": "mqtt in",
        "z": "d471602836679556",
        "name": "",
        "topic": "catfeeder_report",
        "qos": "2",
        "datatype": "auto",
        "broker": "7cf2ed1e5a6a59be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 640,
        "wires": [
            [
                "ee25bcc1bd3c7fee"
            ]
        ]
    },
    {
        "id": "23cce7e710f8c66d",
        "type": "inject",
        "z": "d471602836679556",
        "name": "midnight reset",
        "props": [
            {
                "p": "time",
                "v": "12:00",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "01 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "c90e79c27b5f1866"
            ]
        ]
    },
    {
        "id": "be896c644e71522d",
        "type": "comment",
        "z": "d471602836679556",
        "name": "Day Setup",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "29ff4d2734a72bf4",
        "type": "sqlite",
        "z": "d471602836679556",
        "mydb": "c9fd59362167d331",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM schedule",
        "name": "DB",
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a9ecf538b4c87684",
        "type": "function",
        "z": "d471602836679556",
        "name": "",
        "func": "for (let i = 0; i < msg.payload.length; i++) {\n    const el = msg.payload[i];\n    const entries = Object.entries(el).map(([topic, payload]) => ({ topic, payload, row: (i+1) }));\n    node.send(msg.payload[i]);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "5a22ffb5391af81c"
            ]
        ]
    },
    {
        "id": "c90e79c27b5f1866",
        "type": "sqlite",
        "z": "d471602836679556",
        "mydb": "c9fd59362167d331",
        "sqlquery": "fixed",
        "sql": "SELECT rowid, time FROM schedule;",
        "name": "SELECT",
        "x": 500,
        "y": 200,
        "wires": [
            [
                "a9ecf538b4c87684"
            ]
        ]
    },
    {
        "id": "5a22ffb5391af81c",
        "type": "template",
        "z": "d471602836679556",
        "name": "UPDATE",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE schedule set status=0 WHERE time = '{{time}}'",
        "output": "str",
        "x": 800,
        "y": 200,
        "wires": [
            [
                "29ff4d2734a72bf4"
            ]
        ]
    },
    {
        "id": "bcaa8fa63676baf1",
        "type": "comment",
        "z": "d471602836679556",
        "name": "Feed Out",
        "info": "",
        "x": 220,
        "y": 280,
        "wires": []
    },
    {
        "id": "265b6a214d045093",
        "type": "comment",
        "z": "d471602836679556",
        "name": "Feed In",
        "info": "",
        "x": 210,
        "y": 580,
        "wires": []
    },
    {
        "id": "441a8938e81815de",
        "type": "function",
        "z": "d471602836679556",
        "name": "timestamp",
        "func": "\nmsg.payload= Math.floor(Math.random()*100000)%200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 440,
        "wires": [
            [
                "72fe87e0f3fb9f95"
            ]
        ]
    },
    {
        "id": "08c25314d6a6409e",
        "type": "inject",
        "z": "d471602836679556",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "154.5",
        "payloadType": "str",
        "x": 570,
        "y": 440,
        "wires": [
            [
                "441a8938e81815de"
            ]
        ]
    },
    {
        "id": "5f4e325bc5518d5f",
        "type": "sqlite",
        "z": "d471602836679556",
        "mydb": "c9fd59362167d331",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM schedule",
        "name": "DB",
        "x": 730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ee25bcc1bd3c7fee",
        "type": "template",
        "z": "d471602836679556",
        "name": "UPDATE",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE schedule set status=1 WHERE time = '{{payload}}'",
        "output": "str",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "5f4e325bc5518d5f"
            ]
        ]
    },
    {
        "id": "8b1ca26096d97118",
        "type": "sqlite",
        "z": "d471602836679556",
        "mydb": "c9fd59362167d331",
        "sqlquery": "fixed",
        "sql": "SELECT time, status FROM schedule;",
        "name": "SELECT",
        "x": 660,
        "y": 760,
        "wires": [
            [
                "51d14713ad4bee6d"
            ]
        ]
    },
    {
        "id": "51d14713ad4bee6d",
        "type": "debug",
        "z": "d471602836679556",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 720,
        "wires": []
    },
    {
        "id": "a2f84f563b2072f4",
        "type": "inject",
        "z": "d471602836679556",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12:00,1.00",
        "payloadType": "str",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "72fe87e0f3fb9f95"
            ]
        ]
    },
    {
        "id": "99d049d605e8e44f",
        "type": "inject",
        "z": "d471602836679556",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "8b1ca26096d97118"
            ]
        ]
    },
    {
        "id": "6ab5057d8fc4585f",
        "type": "debug",
        "z": "d471602836679556",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "7cf2ed1e5a6a59be",
        "type": "mqtt-broker",
        "name": "CatFeeder",
        "broker": "broker.mqttdashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c9fd59362167d331",
        "type": "sqlitedb",
        "db": "/home/CatFeeder/database/demo.db",
        "mode": "RWC"
    }
]