nodered_initdata.txt
[
    {
        "id": "881fccab3e62d201",
        "type": "tab",
        "label": "init the database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e2f3d54d8240e5f",
        "type": "sqlite",
        "z": "881fccab3e62d201",
        "mydb": "c9fd59362167d331",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "demo_db",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "37280dd2d150c8b8",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "CREATE schedule",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE schedule (time,amount,des,status)",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "1e2f3d54d8240e5f"
            ]
        ]
    },
    {
        "id": "cb5963d00ae0066d",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "DROP schdule",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE schedule;",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "1e2f3d54d8240e5f"
            ]
        ]
    },
    {
        "id": "08001e6b95fd2597",
        "type": "comment",
        "z": "881fccab3e62d201",
        "name": "create",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "ef30af7f314a7fdd",
        "type": "comment",
        "z": "881fccab3e62d201",
        "name": "delete",
        "info": "",
        "x": 210,
        "y": 140,
        "wires": []
    },
    {
        "id": "7ea932bd0bdaeccf",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "CLEAR schdule",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM schedule;",
        "payloadType": "date",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "1e2f3d54d8240e5f"
            ]
        ]
    },
    {
        "id": "9dd8d87ad1784dbc",
        "type": "comment",
        "z": "881fccab3e62d201",
        "name": "clear table",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "11bb256b5664c9b5",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "schedule setup",
        "props": [
            {
                "p": "payload.time",
                "v": "16:40",
                "vt": "str"
            },
            {
                "p": "payload.amount",
                "v": "50",
                "vt": "str"
            },
            {
                "p": "payload.des",
                "v": "morning feed",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 580,
        "wires": [
            [
                "30f735b90aee26db"
            ]
        ]
    },
    {
        "id": "f4772959d64c8b2c",
        "type": "debug",
        "z": "881fccab3e62d201",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "656ae508a732cdfc",
        "type": "sqlite",
        "z": "881fccab3e62d201",
        "mydb": "c9fd59362167d331",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "catinfo_db",
        "x": 1070,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9923d7dc07d45d9c",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "CREATE catinfo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE catinfo (name,weight,type,des,date)",
        "payloadType": "date",
        "x": 800,
        "y": 100,
        "wires": [
            [
                "656ae508a732cdfc"
            ]
        ]
    },
    {
        "id": "6c734a6ba08fc3c2",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "DROP catinfo",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE catinfo",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "656ae508a732cdfc"
            ]
        ]
    },
    {
        "id": "849dc05606f27cec",
        "type": "comment",
        "z": "881fccab3e62d201",
        "name": "create",
        "info": "",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "0f683b1d24452ea4",
        "type": "comment",
        "z": "881fccab3e62d201",
        "name": "delete",
        "info": "",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "099281f1c2480b9c",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "CLEAR catinfo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM catinfo;",
        "payloadType": "date",
        "x": 800,
        "y": 300,
        "wires": [
            [
                "656ae508a732cdfc"
            ]
        ]
    },
    {
        "id": "c079fbb75eabaa23",
        "type": "comment",
        "z": "881fccab3e62d201",
        "name": "clear table",
        "info": "",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "524fb2e990857cfb",
        "type": "sqlite",
        "z": "881fccab3e62d201",
        "mydb": "f3abeba3c0ca293c",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "demo_db",
        "x": 880,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "31fea4a7756c4341",
        "type": "debug",
        "z": "881fccab3e62d201",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "16b59504e7bd1d75",
        "type": "inject",
        "z": "881fccab3e62d201",
        "name": "catinfo setup",
        "props": [
            {
                "p": "payload.name",
                "v": "pluto",
                "vt": "str"
            },
            {
                "p": "payload.weight",
                "v": "3.6",
                "vt": "str"
            },
            {
                "p": "payload.type",
                "v": "5",
                "vt": "str"
            },
            {
                "p": "payload.des",
                "v": "ploto is a little black cat. he like to eat a little of cat snack after meal.",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "2394c4350838591f"
            ]
        ]
    },
    {
        "id": "2394c4350838591f",
        "type": "change",
        "z": "881fccab3e62d201",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.date",
                "pt": "msg",
                "to": "$now('[D01].[M01].[Y0001] [H01]:[m01]:[s01]', '+0200')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 500,
        "wires": [
            [
                "b3033c048b1e09bc"
            ]
        ]
    },
    {
        "id": "b3033c048b1e09bc",
        "type": "template",
        "z": "881fccab3e62d201",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO catinfo VALUES ('{{payload.name}}', '{{payload.weight}}', '{{payload.type}}', '{{payload.des}}','{{payload.date}}');",
        "output": "str",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "31fea4a7756c4341",
                "524fb2e990857cfb"
            ]
        ]
    },
    {
        "id": "30f735b90aee26db",
        "type": "template",
        "z": "881fccab3e62d201",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM schedule;",
        "output": "str",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "0ddaaf8a82d14a0d"
            ]
        ]
    },
    {
        "id": "0ddaaf8a82d14a0d",
        "type": "sqlite",
        "z": "881fccab3e62d201",
        "mydb": "c9fd59362167d331",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM schedule",
        "name": "DB",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "e1209590e34aa172"
            ]
        ]
    },
    {
        "id": "98612766d9a0a240",
        "type": "template",
        "z": "881fccab3e62d201",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO schedule VALUES ('{{{time}}}', '{{amount}}', '{{des}}',0);",
        "output": "str",
        "x": 960,
        "y": 580,
        "wires": [
            [
                "1f81659f1d164204",
                "f4772959d64c8b2c"
            ]
        ]
    },
    {
        "id": "e1209590e34aa172",
        "type": "function",
        "z": "881fccab3e62d201",
        "name": "add table",
        "func": "var RER=1200;\nglobal.set(\"schecount\",3);\n\nmsg.time=\"07:00\"\nmsg.amount=(0.2*RER).toFixed(2);\nmsg.des=\"morning feeding\"\nmsg.count=0;\nnode.send(msg);\n\nmsg.time=\"12:00\"\nmsg.amount=(0.3*RER).toFixed(2);\nmsg.des=\"afternoon feeding\"\nmsg.count=1;\nnode.send(msg);\n\nmsg.time=\"17:00\"\nmsg.amount=(0.3*RER).toFixed(2);\nmsg.des=\"evening feeding\"\nmsg.count=2;\nnode.send(msg);\n\nmsg.time=\"22:00\"\nmsg.amount=(0.2*RER).toFixed(2);\nmsg.des=\"night feeding\"\nmsg.count=3;\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 580,
        "wires": [
            [
                "98612766d9a0a240"
            ]
        ]
    },
    {
        "id": "1f81659f1d164204",
        "type": "sqlite",
        "z": "881fccab3e62d201",
        "mydb": "c9fd59362167d331",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM schedule",
        "name": "DB",
        "x": 1130,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "c9fd59362167d331",
        "type": "sqlitedb",
        "db": "/home/CatFeeder/database/demo.db",
        "mode": "RWC"
    },
    {
        "id": "f3abeba3c0ca293c",
        "type": "sqlitedb",
        "db": "/home/CatFeeder/database/schdule.db",
        "mode": "RWC"
    }
]